.search-bar {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 12px 20px;
    width: 350px;
    border: none;
    outline: none !important;
    background-color: #e6ebf5;
}

.search-icon {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: #e6ebf5;
    color: rgb(160, 160, 160);
    padding: 16px 5px 16px 22px;
}